{{> header}}
{{> navbar}}

<div class="container article">
    <div class="px-5">
        {{#if isLogin}}
            <div class="text-end mb-2">
                <a href="/#" class="btn-edit"><img src="/public/icons/edit.svg" alt=""></a>
                <a href="/#" class="btn-delete"><img src="/public/icons/delete.svg" alt=""></a>
            </div>
        {{/if}}

        <img src="#" alt="" class="img-main" >
        
        <h4 class="mt-4">Wisata Vaksin Sambil Lihat Air Terjun Niagara, Harga Mulai Rp 38 Juta</h4>

        <p>Amerika Timur menjadi destinasi selanjutnya untuk wisata vaksin. Agen travel AntaVaya menawarkan paket wisata vaksin ke sana dengan harga mulai Rp 38 juta. Paket perjalanan wisata vaksin ke Amerika Serikat ini akan dilakukan selama 12 hari 8 malam. Dengan harga Rp 38,8 juta, traveler akan mendapatkan vaksin, tiket pesawat pulang dan pergi kelas ekonomi menggunakan maskapai Qatar Airlines. Tak hanya itu, traveler juga akan menginap di hotel bintang 3,5 dan mendapatkan makan sebanyak 3 kali sehari. Adapun untuk objek wisata yang bakal dikunjungi adalah New York, New Jersey, Philadelphia, Washington D.C, Air Terjun Niagara, Albany, Boston, hingga Woodbury. AntaVaya juga melayani pembuatan visa AS bagi traveler yang belum punya. Biayanya adalah Rp 2,7 juta ditambah dengan PPn 1%. Berikut itinerary perjalanan wisata vaksin ke Amerika Timur dari AntaVaya: Hari 1: Perjalanan Jakarta menuju Doha Hari ini peserta akan berkumpul di Bandara International Soekarno Hatta, untuk melakukan penerbangan menuju Benua Amerika khusus nya kota New York melalui Doha. Hari 2: Menuju New York dan New Jersey Setibanya di New York, peserta akan diajak menuju kawasan Kota New York yaitu Hudson Yard. Di sana peserta dapat berfoto di The Vessel yakni karya arsitektur tangga mirip sarang lebah yang futuristik. Setelah itu peserta akan diajak menuju tempat terkenal yang menjadi persimpangan dunia yakni Time Square. Di sana peserta bebas menikmati liburan hingga sore lalu diantar menuju hotel. Hari 3: Menuju Philadelphia dan Washington D.C Peserta akan diajak ke bekas ibu kota Amerika Serikat yakni Philadelphia. Di sana peserta akan mengunjungi Liberty Bell, Independence Hall dan US State of Mint. Lalu menuju ke ibu kota Amerika Serikat, Washington D.C untuk bermalam. Hari 4: Berkeliling Washington D.C dan menuju Harrisburg Setelah makan pagi, peserta diajak melewati White House, Washington Monument, Lincoln and Jefferson Memorial Hall, US Capitol Hill, dan Smithsonian Museum. Lalu peserta diantar menuju Harrisburg untuk bermalam. Hari 5: Menikmati cokelat Hershey Di hari kelima ini, peserta akan mengunjungi Hershey Chocolate Factory untuk melihat cara pembuatan cokelat Hershey yang terkenal di Amerika. Setelah itu peserta akan diajak ke Air Terjun Niagara untuk bermalam. Hari 6: Mengunjungi Air Terjun Niagara Setelah sarapan, peserta akan diajak menikmati keindahan Air Terjun Niagara dengan merasakan Horn Blower Cruise atau Journey Behind The Falls. Peserta juga bisa mengikuti tur tambahan menggunakan Niagara Falls Helicopter. Sesudahnya, peserta akan diantar menuju Albany untuk bermalam. Hari 7: Mengunjungi Kota Boston Kota pelajar Boston juga menarik untuk dikunjungi. Peserta akan diajak melewati Harvard University, John Harvard Statue, MIT University dan berbelanja di Quincy Market. Hari 8: Berbelanja produk ternama Perjalanan dilanjutkan dengan mengunjungi Woodbury Premium Outlet untuk berbelanja produk ternama Amerika, seperti Coach, Michael Kors, Tory Burch, Kate Spade, Polo Ralph Lauren, dan lain-lain. Lalu menuju ke New Jersey untuk istirahat. Hari 9: New Jersey Peserta diizinkan untuk bebas menikmati New Jersey. Hari 10: Menikmati New York Peserta melanjutkan tur Kota New York dengan mengunjungi Battery Park dan menuju Liberty Island menggunakan kapal feri untuk melihat Patung Liberty dari dekat. Kemudian perjalanan dilanjutkan dengan melewati Wall Street, Charging Bulls, New York Stock Exchange, Trinity Chruch, 9/11 Memorial dan diantar ke bandara untuk pulang ke Jakarta. Hari 11: Perjalanan menuju Jakarta via Doha Hari 12: Tiba kembali di Jakarta Itulah itinerary perjalanan wisata vaksin di Amerika Timur bersama AntaVaya. Perjalanan ini dilakukan mulai 3 Juli sampai 28 Oktober 2021.</p>

    </div>
</div>


{{> footer}}
    