{{> header}}
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
</div>
{{/if}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="/login" method="post">
        <div>
            <input type="email" name="email" placeholder="Email" value="ilhamfathullah04@gmail.com">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" value='1234'>
        </div>
        <button type="submit" class="mt-4">Login</button>
    </form>
</div>

{{> footer}}